<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="10"
	configfailurepolicy="continue">
	<test name="Mobiquity">
		<classes>
			<class name="test.S01_Login" />
			<class name="test.S02_Logout" />
		</classes>
	</test>
</suite>